*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  place-items: center center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
}

/* RESULT */

.result__video-container {
  position: relative;

  margin-bottom: 20px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
  object-position: center;
}

/* FORM */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 4px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
}

.search-form__label {
  display: flex;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label .search-form__textfield,
.search-form__label .search-form__checkbox{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.search-form__textfield {
  inline-size: 225px;
  border: none;
  border-radius: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  background-color: transparent;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
}

.search-form__pseudo-checkbox {
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  margin-top: 1px;
  margin-right: 6px;
  margin-left: 1px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: relative;
  top: 1px;
  display: block;
  inline-size: 15px;
  block-size: 15px;
  margin: auto;
  background-color: #fff;
}

/* BUTTONS */
.button {
  border: 1px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: self-end;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}


/* CONTENT DETAILS */
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 20px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94em;
  text-transform: uppercase;
}

.content__accent {
  color: #54504f;
}

/* CONTENT LIST */
.content__list {
  position: relative;
  block-size: 298px;
  overflow-y: scroll;
}

.content__list::-webkit-scrollbar {
  inline-size: 4px;
  background-color: transparent;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 4px solid #545050;
}

.content__list::-webkit-scrollbar-track {
  background: #1b1919;
}

.content__list-item {
  inline-size: 394px;
}

.content__list-item:not(:last-child){
  margin-bottom: 35px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald , sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  margin-top: 5px;
  overflow: hidden;
  line-height: 0.9em;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/* ПОВЕДЕНИЕ */
.button:hover,
.content__card-link:hover,
.search-form__fieldset:nth-child(2) .search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus-visible,
.search-form__textfield:focus-visible  {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

